<!DOCTYPE html>
<html>
<head>
	<title>MoreInfo_Yelpcamp</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<% if(success && success.length > 0) { %>
			<div class="alert alert-success">
				<%= success %>
			</div>
		<% } %>
		<% if(error && error.length > 0) { %>
			<div class="alert alert-error">
				<%= success %>
			</div>
		<% } %>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<p class="lead">YelpCamp</p>
				<div class="list-group">
					<li class="list-group-item">Info 1</li>
					<li class="list-group-item">Info 2</li>
					<li class="list-group-item">Info 3</li>
				</div>
			</div>
			<div class="col-md-9">
				<div class="thumbnail">
					<img class="img-responsive" style="width: 100%" src="<%= campground.image %>">
					<div class="caption-full">
						<h4 class="pull-right">$9.00/night</h4>
						<h3><b><%= campground.name %></b></h3>
						<p><%= campground.description %></p><br>
						<p><i>Submitted by: </i><br><b><%= campground.author.username %></b></p>
						<% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
							<p><a class="btn btn-large btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a></p>
							<br>
							<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
								<input class="btn btn-large btn-danger" type="submit" value="DELETE">
							</form>
						<% } %>
					</div>
				</div>
				<div class="well">
					<h2>Comments :</h2><hr><hr>
					<div class="text-right">
						<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add new Comment</a>
					</div><hr>
					<% campground.comments.forEach(function(comment){ %>
						<div class="row">
							<div class="col-md-12">
								<b><%= comment.author.username %></b>
								<span class="pull-right">10 days ago</span>
								<p><%= comment.text %></p>
								<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
									<p><a href="/campgrounds/<%=campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-xs btn-warning">Edit</a></p>
									<form action="/campgrounds/<%=campground._id %>/comments/<%= comment._id %>/destroy?_method=DELETE" method="POST">
										<input class="btn btn-xs btn-danger" type="SUBMIT" value="Delete">
									</form>
								<% } %>
								<hr>
							</div>
						</div>
						<p></p>
						
					<% }); %>
				</div>
			</div>
		</div>
	</div>
	<p></p>
	<p></p>
	<br>
	

	
</body>
</html>